.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  z-index: 3;
}

.popContent {
  position: relative;
  padding: 50px;
  width: 100%;
  max-width: 750px;
  background-color: white;
  border-radius: 10px;
}

.img-instruction {
  grid-area: label;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-right: 35px;
}

.img-instruction p {
  font-size: 14px;
  margin: 0em;
  align-self: center;
}

.emptypopContent {
  display: grid;
  grid-template-areas:
    "topx topx"
    "image form"
    "label form"
    "button button";
  position: relative;
  padding: 50px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50px auto 50px 50px;
  width: 100%;
  max-width: 750px;
  background-color: white;
  border-radius: 10px;
}

.border {
  position: absolute;
  left: 36%;
  width: 2px;
  height: 72%;
  background: rgba(200, 142, 0);
  right: -9px;
  top: 13.2%;
}

.top-line {
  grid-area: topx;
  width: 101.2%;
  height: 30px;
  margin-bottom: 10px;
  background-color: rgba(200, 142, 0);
  align-content: center;
}

.sys-name {
  display: flex;
  justify-content: center;
  margin: 0px;
  color: aliceblue;
}

.form-box {
  grid-area: form;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "up"
    "down";
  padding: 5px;
}

.top-half {
  grid-area: up;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.key-value {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0px;
  padding-left: 20px;
  margin: -7px;
}

.bottom-half {
  grid-area: down;
  margin-top: 25px;
}

.key-name {
  text-align: left;
}

.descref {
  height: 100%;
  padding: 5px 15px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-family: inherit;
  font-size: 15px;
  text-align: justify;
  resize: none;
}

textarea.descref {
  line-height: 1.6;
}

.field {
  height: 30px;
  padding: 5px;
  align-self: center;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-family: inherit;
  font-size: 15px;
  text-align: justify;
}

.blank-box {
  grid-area: box;
}

.button-box {
  grid-area: button;
  width: 100%;
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  justify-content: space-between;
}

.popCloser {
  position: absolute;
  top: 13px;
  right: 20px;
  text-decoration: none;
  color: #ffffff;
  border: 3px solid #282936;
  background-color: #282936;
  padding: 5px 5px; /* Adjust padding for button size */
  border-radius: 40px;
  transition: 0.3s all ease;
  display: flex;
  align-items: center;
}

.popCloser:hover {
  background-color: #ffffff;
  border: 3px solid #000000;
  color: #000000;
}

.prevBx {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 210px;
  height: 308px;
  padding: 0%;
}

.prevBx img {
  width: 210px;
  height: 308px;
  object-fit: cover;
  margin: auto;
}

.upload-View {
  justify-content: left;
  width: 210px;
  height: 308px;
  padding: 0%;
  transition: 0.5s ease;
  background-color: rgba(200, 142, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  width: 210px;
  height: 308px;
  position: absolute;
  left: 154px;
  transform: translate(-50%, -50%);
  top: 254px;
}

.prevBx .upload-View:hover {
  cursor: pointer;
  opacity: 1;
}

.upload-View .view-logo {
  width: 84px;
  height: 84px;
}

.popSubmit {
  text-decoration: none;
  color: #ffffff;
  border: 3px solid rgba(200, 142, 0);
  background-color: rgba(200, 142, 0);
  padding: 5px 5px; /* Adjust padding for button size */
  border-radius: 40px;
  transition: 0.3s all ease;
  align-items: center;
  margin: 5px;
}

.popSubmit:hover {
  background-color: #ffffff;
  border: 3px solid rgba(200, 142, 0);
  color: rgba(200, 142, 0);
}

.empSubmit {
  text-decoration: none;
  color: #ffffff;
  border: 3px solid rgba(200, 142, 0);
  background-color: rgba(200, 142, 0);
  padding: 5px 5px; /* Adjust padding for button size */
  border-radius: 5px;
  transition: 0.3s all ease;
  align-items: center;
  margin: 5px;
  width: 100%;
}

.empSubmit:hover {
  background-color: #ffffff;
  border: 3px solid rgba(200, 142, 0);
  color: rgba(200, 142, 0);
}
